body {
	padding-top: 50px;
  	padding-bottom: 20px;
}

.draw-target {
	width: 74px;
	height:74px;
	position: relative;
	float: left;
	margin: 0px;
}

#monogoData {
	clear: both;
}

.starter-template {
  padding: 40px 15px;
  text-align: left;
}


.carousel{
    margin-top: 20px;
}

.carousel_ts{
	margin: 20px;
}
.carousel_ts img
{
	width:100%;
}
