body {
    background-color: #000066;
    color: #2255ff;
}

p {
    font-size:large;    
}

header {
    background-color: #0000bb;
    color: #aaaaff; 
}

article {
    background-color: #0000ff;
    color: #000055;     
}

.position01 {
    width: 50px;
    height: 50px;
    background-color: #7777FF;
    font-weight:bold;
}

.position02 {
    width: 50px;
    height: 50px;
    background-color: #5555FF;
    font-weight:bold;
}

.position03 {
    width: 50px;
    height: 50px;
    background-color: #3333FF;
    font-weight:bold;
}
